
table, th, tr, td {
border: 1px solid black;
border-collapse: collapse;
text-align: center;
box-shadow: 6, 6, 6 #628ca6;
}


th{
    background-color:#628ca6;
    color: white;
}

tr :nth-child(odd) {
background-color: #e7f0ed;
}

.different{

    background-color: #e7ffed;}
#color{
    background-color: #628ca6;
    color: white;
}
    
thead, tfoot {
    background-color:#7fb9c2;
    color: black;
}
thead {
     font-family: 'Ubuntu', sans-serif;
font-style: bold;
font-size: 2em;
}
