@media screen and (min-width: 501px) and (max-width: 1200) 
			{
				.menu
				{display: flex;}
			@media (min-width: 55em)  {
			
				.hide {
					display: block;
				}
				#hamburguer{ display: none;}
				.menu
				{display: none;}
				}
		}
		#content {
			background-color: white;
				max-width:0 auto;;
			margin: 0 auto;}
		
			p , h1, h2,h3 {	justify-content: center;}

		header, footer{
			display: flex;
						}

			#image-container{
				display: grid;
				grid-template-columns: 1fr 1fr;
				justify-content: center;
				}