
 @media screen and (min-width: 501px) and (max-width: 500px) {
    .menu {
        display: inline-flex;
        flex-flow: row;
    
    }
    .hide {
        display: block;
    }
    header, footer{
               display: flex;
        flex-flow: row;
        text-align: center;
        justify-content: center;
            margin: 0;
        overflow: hidden;
        padding: 0;
        text-align: center;
    }
    #hamburguer {display: none;
    }
     }