@media screen and (min-width: 1101px) {
	.menu
	{display: none;
	}
	
	.hide {
		display: block;
	}
	#hamburguer { 
		display: none;}

.forecast 
	{display: block;
	} }

	#content {
		display: grid;
		align-items: auto;
		background-color: white;
			max-width:0 auto;
		margin: 0 auto;}
	
		p , h1, h2,h3 {	justify-content: center;}
	
		header, footer
	 {	margin: 10px auto;
		background-color: paleturquoise;
		border: 1px solid #8CBEBE;
		box-shadow: 0 0 30px #465F5F;
			text-align: center;
			text-decoration-color: rgb(39, 39, 41) ;
			display: flex;
			justify-content: center;
			list-style-type: none;
			margin: 0;
			overflow: hidden;
			padding: 0;
			}
				
				

	nav{	padding: 1.5em;
		margin-top: 25px;
		 line-height: 1.5em;
			 padding: 0.5em;
		 text-decoration: none;	}
	
		 nav a { 
			color: black;
			 padding: em 1em;
			text-decoration: none;
		 }       
		 nav a:hover { 
				color: paleturquoise;
				border-radius: 5px;
		 }	
	nav li {
					border-radius: 1.5rem ;
					font-family: 'Fugaz One', serif;
					font-size: 1.75em;
					padding-left: 50px; 
					display: inline-block;
					list-style-type: none;}

					#image-container{
						display: grid;}
	nav ul {
		margin: 0; 
		}
		.container {
			margin: 0;
			padding: 0;
			display: flex;
			  }
		h1,h2, h3, h4, h5, h6 {
			font-family: 'Encode Sans' ;
			font-style: italic;
			color: rgb(0, 0, 0); 
			font-size: 1.1em;
			line-height: 1.1em;
			text-align: center;
			padding: 10px;
		}
		.figure:hover {
			background-color: paleturquoise;
			border-radius: 1rem;
		}
	
		#image-container{
			border-radius: 5px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			margin: auto;
			justify-content: center;
			align-items: stretch
			
					}

		.icon{
					width: 65px;
					height: 65px;}

		#content {
			display: flex;
			flex-flow:row;
					background-color: white;
							max-width: auto;;
						margin: 0 auto;}